body {
    font-family: sans-serif;
    background-color: rgb(174, 248, 185);
  }
  
  .questions {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  
#b1
{
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    border-radius: 7px;
    border: 3px solid rgb(13, 12, 10);
    background-color: #2f7f36;
}  