body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #2f7f36; /* Green color */
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 960px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #edeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hero {
    text-align: center;
    background-color:rgb(233, 234, 234);
    border-radius: 20px;
    
}


footer {
    background-color: #2f7f36; /* Green color */
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

.footer-content p {
    margin: 0;
}
#d1{
    border: 3px solid rgb(0, 0, 0);
    background-color: #2f7f36;
    border-radius: 20px;
}